In [1]:
#Operators

In [2]:
2 == 2

True

In [3]:
2 != 3

True

In [4]:
"Bye" == "bye"

False

In [5]:
'2' == 2

False

In [6]:
2<5

True

In [7]:
2>9

False

In [8]:
3!=4

True

In [9]:
3>= 3

True

In [10]:
'hell' <= 'hello'

True

In [11]:
'frank' <= 'frankline'

True

In [24]:
option = 'Frank \'s blue BMW '
print(option)

Frank 's blue BMW

In [25]:
pwd

'C:\\Users\\USER\\Desktop'

In [26]:
1<2

True

In [27]:
2<3

True

In [28]:
1<2<3

True

In [29]:
1<2>3

False

In [30]:
1<2 and 2>3

False

In [31]:
(10<20) and (20!=30)

True

In [33]:
('h'=='h') and ('p'!='z')

True

In [36]:
('h'=='h') or(58==90)

True

In [37]:
1<2 or 2>3

True

In [38]:
(1<2) or (2>3)

True

In [45]:
5!=5

False

In [52]:
hungry = False
if hungry:
    print("FEED ME!")
else:
    print("I'm NOT hungry!!")

I'm NOT hungry!!

In [53]:
if (2>5):
    print("2 is in deed greater than five")
else:
    print("2 is less than five")

2 is less than five

In [57]:
if(2<=5):
    print("2 is less than or equal to five")
else:
    print()

2 is less than or equal to five

In [62]:
name = "Frank"
if name == "Sammy":
    print('Hello Sammy!')
elif name == "Bill":
    print('Hello Billie!')
elif name == "Frank":
    print('Hello Frankie!')
else:
    print('What is your name?')

Hello Frankie!

In [1]:
#For loops

In [4]:
my_friends = ['Frank','Jackson','Oginga','Ogutu','Ruth','Dorise','Fay']
for name in my_friends:
    print(f"{name} is my friend")

Frank is my friend
Jackson is my friend
Oginga is my friend
Ogutu is my friend
Ruth is my friend
Dorise is my friend
Fay is my friend

In [8]:
my_list = [1,2,3,4,5,6,7,8,9,10]
list_sum = 0
for num in my_list:
    list_sum = list_sum + num
print(list_sum)

55

In [11]:
my_string = "Hello World"
for letter in my_string:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [12]:
tup = (1,2,3)

In [13]:
for item in tup:
    print(item)

1
2
3

In [14]:
#tuple and packing
mylist = [(1,2),(3,4),(5,6),(7,8)]
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [15]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [16]:
for (a,b) in mylist:
    print(f"The sum of {a} and {b} is {a+b}")

The sum of 1 and 2 is 3
The sum of 3 and 4 is 7
The sum of 5 and 6 is 11
The sum of 7 and 8 is 15

In [18]:
for (a,b) in mylist:
    print(f"The value of b is in {(a,b)} is: {b}")

The value of b is in (1, 2) is: 2
The value of b is in (3, 4) is: 4
The value of b is in (5, 6) is: 6
The value of b is in (7, 8) is: 8

In [25]:
#iterate throught dictionaries
d = {'k1':1, 'k2':2 , 'k3':3}
for (item,value) in d:
    print(value)

1
2
3

In [26]:
for value in d.values():
    print(value)

1
2
3

In [27]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [31]:
dict = {'k1':1 , 'k2':2 , 'k3':3}
for key in dict.keys():
    print(key)

k1
k2
k3

In [6]:
x = 0
while x<5:
    print(f'The current value of x is {x}')
    x=x+1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [9]:
y = 10
while y>=10:
    print(f"The value of y is {y}")
    y = y-1

The value of y is 10

In [11]:
#While else statement
x = 50
while x<5:
    print("The value of x is {x}")
    x=x+1
else:
    print("The value of x is GREATER THAN 5")

The value of x is GREATER THAN 5

In [13]:
x = [1,2,3,4,5,6,7,8,9,10]
for item in x:
    pass
print("Successfully passed the indenta")

Just trying pass out

In [16]:
mystring = 'Sammy'
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [18]:
myname = "Bill Albert"
for letter in myname :
    if letter == " ":
        break
    print(letter)

B
i
l
l

In [19]:
x = 0
while x <5:
    if x == 2:
        break
    print(x)
    x +=1

0
1

In [1]:
#Usefull operators
#RANGE
for num in range (10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [7]:
for num in range (0,12,4):
    print(num)

0
4
8

In [8]:
range(0,11,2)

range(0, 11, 2)

In [9]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [12]:
my_range = range(0,11,2)
print(my_range)

range(0, 11, 2)

In [22]:
index_count = 0
word = 'abcdef'
for letter in word:
    print('At index {} the letter is {}'.format(index_count , letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e
At index 5 the letter is f

In [23]:
#enumerate 
word = 'abcdef'
for letter in enumerate(word):
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')

In [25]:
word = 'abcdef'
for (index,value) in enumerate(word):
    print(index)
    print(value)
    print("\n")

0
a


1
b


2
c


3
d


4
e


5
f

In [31]:
#zip built in function
mylist1 = [1,2,3,4,5]
mylist2 = ['one','two','three']
mylist3 = [100,200,300]
mylist4 = ['a','b','c','d']

for value in zip(mylist1,mylist2,mylist3,mylist4):
    print(value)

(1, 'one', 100, 'a')
(2, 'two', 200, 'b')
(3, 'three', 300, 'c')

In [32]:
#in keyword
'x' in [1,2,3]

False

In [33]:
1 in [1,2,3]

True

In [34]:
'x' in ['x','y','z']

True

In [35]:
'a' in 'a world full of trouble'

True

In [36]:
'mykey' in {'mykey':345}

True

In [37]:
d={'key1':345 ,'key2':346 , 'key3':347}

In [38]:
d

{'key1': 345, 'key2': 346, 'key3': 347}

In [39]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [46]:
d.values()

dict_values([345, 346, 347])

In [47]:
345 in d.keys()

False

In [48]:
345 in d.values()

True

In [49]:
345 in d

False

In [51]:
'key1' in d.keys()

True

In [52]:
#max and min keywords
mylist = [10,20,30,40,100]

min(mylist)

10

In [53]:
max(mylist)

100

In [58]:
#import a library
from random import shuffle
print(mylist)

[100, 40, 20, 30, 10]

In [59]:
from random import randint
randint(0,100)

100

In [60]:
randint(0,100)

41

In [61]:
randint(0,10)

3

In [62]:
randint(1,12)

10

In [63]:
randint(1,12)

2

In [64]:
#accepting input from the user
input("Enter your name:")

Enter your name:Bill

'Bill'

In [67]:
result = input('Enter your favourite number:')
print(f'Your favourite number is:{result}')

Enter your favourite number:100
Your favourite number is:100

TypeError: 'str' object does not support item assignment

In [12]:
print(list(range(0,11,2)))

[0, 2, 4, 6, 8, 10]

In [27]:
#Print only the words that begin with s in the sentence
st = "Print only the words that start with s in this sentence"
st_list = st.split(" ")
for st_word in st_list:
    st_word_list = list(st_word)
    if st_word_list[0].lower() == 's':
        print(st_word)
    #else:
        #continue

start
s
sentence

In [30]:
#Print every word in this sentence that has an even number of letters
st = "Print every word in this sentence that has an even number of letters"
st_list = st.split(' ')
for st_word in st_list:
    st_word_list = list(st_word)
    if (len(st_word_list))%2 == 0 :
        print(f"{st_word.upper()} has {len(st_word_list)} letters \n")
    else:
        print(f"{st_word.upper()} has {len(st_word_list)} letters \n" )

PRINT has 5 letters

EVERY has 5 letters

WORD has 4 letters

IN has 2 letters

THIS has 4 letters

SENTENCE has 8 letters

THAT has 4 letters

HAS has 3 letters

AN has 2 letters

EVEN has 4 letters

NUMBER has 6 letters

OF has 2 letters

LETTERS has 7 letters

In [33]:
#List comprehensions
mystring = 'hello'
mylist = []
for letter in mystring:
    mylist.append(letter)
mylist

['h', 'e', 'l', 'l', 'o']

In [36]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [38]:
mylist = [ x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [40]:
mylist = [x for x in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
mylist = [ num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
mylist = [ x for x in range(0,11) if x%2 ==0 ]
mylist

[0, 2, 4, 6, 8, 10]

In [2]:
mylist = [x for x in range(0,11) if x%2 == 0]
mylist

[0, 2, 4, 6, 8, 10]

In [3]:
#convert fanherit to degrees celcius
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [5]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [6]:
mylist = []
for x in [2,4,6]:
    for y in [100, 200 , 300]:
        mylist.append(x*y)
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [8]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [10]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [12]:
#Write a program to print the intergers from 0 to 100. But for multiples of three print "Fizz" instead of the number and for 
#multiples of five print "Buzz".For multiples of numbers both three and five print "FizzBuzz".
for num in range(1,101):
    
    if(num % 3 == 0 and num % 5 != 0):
        print("Fizz")
        continue
    if(num % 5 == 0 and num % 3 != 0):
        print("Buzz")
        continue
    if(num % 3 == 0 and num % 5 == 0):
        print("FizzBuzz")
        continue
    print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [15]:
#Create a list of the first letters of every word in this string using list comprehensions
st = "create a list of the first letters of every word in this string"

In [17]:
mylist = list(st.split(' '))

['create',
 'a',
 'list',
 'of',
 'the',
 'first',
 'letters',
 'of',
 'every',
 'word',
 'in',
 'this',
 'string']

In [1]:
mylist = [1,2,3]

In [4]:
mylist.append('4')
mylist

[1, 2, 3, '4', '4', '4']

In [5]:
mylist.pop()

'4'

In [6]:
mylist

[1, 2, 3, '4', '4']

In [7]:
mylist.pop()

'4'

In [8]:
mylist

[1, 2, 3, '4']

In [13]:
#User defined functions
def name_of_function():
    """
    Documentation explains function
    
    """
    print("Hello")

In [16]:
name_of_function()

Hello

In [17]:
def name_of_function(name):
    """
    Docstring explain function
    
    """
    print("Hello "+ name)

In [21]:
name_of_function("Bill")

Hello Bill

In [22]:
name_of_function("abill2363@gmail.com")

Hello abill2363@gmail.com

In [32]:
def print_name(name):
    """
    DOCSTRING: Information about the function
    INPUT: no input...
    OUTPUT: hello...
    """
    print("Hello "+ name)

In [33]:
help(print_name)

Help on function print_name in module __main__:

print_name(name)
    DOCSTRING: Information about the function
    INPUT: no input...
    OUTPUT: hello...

In [28]:
help(print_name)

Help on function print_name in module __main__:

print_name(name)
    Docstring explain function

In [35]:
def say_hello():
    print("Hello")
say_hello()

Hello

In [45]:
def say_hello(name ="NAME"):
    print("Hello "+name)

In [48]:
say_hello()

Hello NAME

In [50]:
result = say_hello()

Hello NAME

In [51]:
result

In [52]:
type(result)

NoneType

In [56]:
def say_hello(name='NAME'):
    return 'hello '+name

In [57]:
result = say_hello('Jose')
result

'hello Jose'

In [58]:
def add(n1,n2):
    return n1+n2

In [60]:
result = add(20,30)
result

50

In [62]:
def multiply(num1 , num2):
    return num1 * num2
result = multiply(10,10)
result

100

In [64]:
#Find out if the word "dog" is in a string
def dog_check(mystring):
    if 'dog' in mystring:
        return True
    else:
        return False

In [67]:
dog_check("My Dog is running up and down")

False

In [66]:
dog_check("My cat is not here")

False

In [71]:
#Put it in one line
def dog_check(mystring):
    return 'dog' in mystring.lower()
dog_check("My Dog is running up and down")

True

In [72]:
dog_check("CatandDogs is a pet selling company")

True

In [73]:
dog_check('Dog ran away')

True

In [77]:
'dog' in 'Dog ran away'.lower()

True

In [78]:
#PIG LATIN
#an example of functions in action
def pig_latin(word):
    first_letter = word[0]
    
    #check if vowel
    if first_letter in "aeiou":
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first_letter + 'ay'
    
    return pig_word

In [81]:
pig_latin("apple")

'appleay'

In [85]:
def pig_latin(word):
    first_letter = word[0]
    
    #check if vowel
    if first_letter in "aeiou":
        pig_word = word + 'ay'
    else:
        pig_word = word[1:]+first_letter+'ay'
    
    return pig_word
pig_latin("apple")

'appleay'

In [1]:
#*args and **kwargs
def myfunct(a,b):
    #Returns 5% of the sum of a and b
    return sum((a,b))*0.05

In [2]:
myfunct(40 , 60)

5.0

In [5]:
def myfunct(a,b):
    return sum((a,b))*0.05
myfunct(40,60)

5.0

In [6]:
def myfunct(a,b,c=0 , d=0 , e=0):
    #Returns 5% of the sum of a and b
    return sum((a,b,c,d,e))*0.05

In [8]:
myfunct(40,60,100,100,3)

15.15

In [14]:
def myfunct(*args):
    print(args)

In [15]:
myfunct(40,50,60)

(40, 50, 60)

In [20]:
my_sum_list = [10,10,10,10,10]
print(sum(my_sum_list))

50

In [28]:
def funct_avg(*args):
    print(sum(args))
funct_avg(10,20)

30

In [36]:
print(sum((10,20,30)))

60

In [37]:
#**kwargs
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [38]:
myfunc(fruit='apple', veggie='lettuce')

My fruit of choice is apple

In [40]:
myfunc(fruit='avocado', veggie='sukuma wiki' , protein='nyama' , carbohydrate = 'ugali')

My fruit of choice is avocado

In [48]:
def fruit_choice(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [50]:
fruit_choice(fruit='Rust Berries',veggie='Sukuma wiki')

My fruit of choice is Rust Berries

In [53]:
#*args and **kwargs : USED IN A COMBINATION 
def myfunct(*args , **kwargs):
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [56]:
myfunct(10,20,30,food='orange',animal='dog')

I would like 10 orange

In [68]:
def myfunct(*args , **kwargs):
    print(args)
    print("\n")
    print(kwargs)
    print("\n")
    print('I would like {} {}'.format(args[1],kwargs['fruit']))

In [69]:
myfunct(10,20,30, food='ugali',fruit='red berries')

(10, 20, 30)


{'food': 'ugali', 'fruit': 'red berries'}


I would like 20 red berries

In [83]:
#OLD MACDONALD: Write a function that capitalises the first and the fourth letters of a name
def old_macdonald(name):
    my_name = name.lower()
    my_name=my_name[0].upper() + my_name[1:3] + my_name[3].upper() + my_name[4:]
    print(my_name)

In [86]:
old_macdonald('frankline')

FraNkline

In [99]:
#MASTER YODA: Given a sentence return a sentence with the words reversed
def master_yoda(sentence):
    my_list_sentence = sentence.split(' ')
    my_list_sentence.reverse()
    final_sentence = ' '.join(my_list_sentence)
    print(final_sentence)
master_yoda('Give me a sentence')

sentence a me Give

In [92]:
#Trying out a join operator to convert a list into a string.
my_list = ['bill','albert','otieno']
list_string = ' '.join(my_list) #NOTE: The separator and the join function.
list_string

'bill albert otieno'

In [102]:
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list.index(7)
my_list.index(2,0,6)

1

In [1]:
#SPY GAME : Write a function that takes in a list of

In [2]:
#LESSER OF TWO EVENS : Write a function that returns the lesser of the two given numbers if both numbers are even, but
#returns the greater if one or both numbers are odd
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 ==0 :
        return min([a,b])
    else:
        return max([a,b])

In [3]:
lesser_of_two_evens(2,4)

2

In [4]:
lesser_of_two_evens(2,5)

5

In [35]:
#ANIMAL CRACKERS : Write a function takes a two-word string and returns true if both words begin with the same letter.
def animal_crackers(a):
    a_string = a.lower()
    list_string = a_string.split(' ')
    word1_string = list(list_string[0])
    word2_string = list(list_string[1])
    if word1_string[0] == word2_string[0]:
        return True
    else:
        return False

In [36]:
animal_crackers('Levelheaded Llama')

True

In [37]:
animal_crackers('Crazy Cangaroo')

True

In [38]:
#ALMOST THERE : Given an integer n, return true if n is within 10 either between 100 or 200
def almost_there(n):
    if n in range(90,111) or n in range(190,211):
        return True
    else:
        return False

In [39]:
almost_there(90)

True

In [40]:
almost_there(150)

False

In [41]:
almost_there(209)

True

In [42]:
almost_there(104)

True

In [43]:
almost_there(120)

False

In [7]:
#LAUGHTER: write a function that counts the number of times a given function appears in a string, including overlap.
#laughter('hah','hahahah')
def laughter(pattern,string):
    count = 0
    while pattern in string:
        count+=1
        string = string[string.find(pattern)+1:] 
    return count

laughter('hah','hahahah')

3

In [12]:
my_list = list('hahahah')
count = 0
x = 'hah'
while x in my_list:
    count+=1
    print('hah is in')
    my_list = my_list[my_list.index(1)+1 :]
print(f"The number of hah in mylist is {count}")

The number of hah in mylist is 0

In [13]:
my_list = list('hahahah')
print(my_list)

['h', 'a', 'h', 'a', 'h', 'a', 'h']

In [27]:
s = 'hahahah'
count = 0
counter = 0
while 'hah' in s:
    count+=1
    counter+=1
    s = s[(s.find('hah'))+5 :]
    
    if counter == 10:
        break
print("Number of times hah occurs is: {}".format(count))

Number of times hah occurs is: 1

In [20]:
s = 'hahahah'
pos = s.find('a')
print(pos)

1

In [ ]:
def